* {
    margin: 0;
    padding: 0;
}

html, body {
    overflow: hidden;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.icon-container {
    position: absolute;
    bottom: 40px;
    left: 10%;            
    display: flex;             
    flex-direction: column;  
    align-items: center;       
    z-index: 100;
}

.row-bottom {
    gap: 5px; 
}

.nav-icon {
    width: 90px;
    height: 90px;
    filter: brightness(0) invert(1);
}
